BODY {
  padding: 0 1em 0 1em;
}
UL.fileSystem, UL.fileSystem UL {
  line-height: 18px;
  padding: 0;
  margin: 0;
}

UL.fileSystem LI {
	list-style: none;
	padding: 0px;
	padding-left: 20px;
	margin: 0;
	white-space: nowrap;
}

UL.fileSystem A {
	color: #333;
	text-decoration: none;
	display: inline-block;
	padding: 0 2px;
	width:auto;
}

UL.fileSystem A:hover {
	background: #BDF;
}

/* Core Styles */
LI.fs-directory { background: url(../images/directory.png) left top no-repeat; }
LI.fs-expanded { background: url(../images/folder_open.png) left top no-repeat; }
LI.fs-file { background: url(../images/file.png) left top no-repeat; }
LI.fs-wait { background: url(../images/spinner.gif) left top no-repeat; }
/* MIME Types */
LI.text_css { background: url(../images/css.png) left top no-repeat; }
LI.application_octet-stream { background: url(../images/application.png) left top no-repeat; }
LI.text_html { background: url(../images/html.png) left top no-repeat; }
LI.text_javascript { background: url(../images/script.png) left top no-repeat; }
LI.application_json { background: url(../images/script.png) left top no-repeat; }
LI.image_png { background: url(../images/picture.png) left top no-repeat; }
LI.image_tiff { background: url(../images/picture.png) left top no-repeat; }
LI.text_xml { background: url(../images/code.png) left top no-repeat; }
LI.application_zip { background: url(../images/zip.png) left top no-repeat; }